.wrapper {
    height: calc(100vh - 100px);
    // background-color: rgb(208, 208, 208);
    overflow-y: scroll;
}

.container {
    overflow-y: scroll;
    height: 500px;
}

.messageList {
    width: 80%;
    margin: 0 auto;
    // background-color: rgb(208, 208, 208);
    padding-bottom: 50px;
    flex-direction: column;
    justify-content: flex-end;
}

.messageItem {
    padding: 5px 10px;
    margin: 10px;
    background-color: #fff;
    width: fit-content;
    border-radius: 5px;
}

.spinContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ant-spin .ant-spin-spinning .ant-spin-show-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}